html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font: 12px arial,sans-serif;
  -moz-user-select: none;
  user-select: none;
  color: rgb(66, 78, 90);
  display: flex;
  flex-direction: column;
}
table {
  width: 100%;
  font-size: 100%;
}

body,
table {
  color: rgb(66, 78, 90);
}

#socks,
#no-settings-tab,
#automatic-tab {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 10px;
}
#no-settings-tab {
  align-items: center;
}
#automatic-tab>div {
  display: flex;
  width: 100%;
}

input[type=text],
input[type=number] {
  width: 100%;
}
input[type=button] {
  border: solid 1px #cccccc;
  margin: 0 0 0 5px;
  cursor: pointer;
}
input[type=button]:active {
  border-color: #dddddd;
}
select {
  width: 200px;
  border: solid 1px #cccccc;
  height: 24px;
}

#tabs {
  height: 50px;
  line-height: 50px;
  border-bottom: solid 4px #424f5a;
}
#tabs td {
  text-align: center;
  color: #aaa;
}
#tabs label,
#socks label {
  cursor: pointer;
  white-space: nowrap;
}
#tabs label {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#tabs label:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#tabs input[name=proxy],
#socks input[name=profile] {
  display: none;
}
#tabs :checked + span {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: #000;
}
#tabs span:before {
  content: '\e804';
}
#tabs :checked + span:before {
  content: '\e803';
}

body:not([data-type="3"])>#socks,
body:not([data-type="3"])>#socks select,
body:not([data-type="3"])>#socks input {
  color: #aaa;
  pointer-events: none;
}

#socks tr {
  height: 28px;
}
#socks td:nth-child(1) {
  width: 80px;
}
#socks td:nth-child(3) {
  width: 40px;
}
#socks td:nth-child(4) {
  width: 70px;
}
#socks tr:nth-child(1) {
  height: 30px;
  color: #aaa;
}
#socks[data-type=global] tr:nth-child(4),
#socks[data-type=global] tr:nth-child(4) input,
#socks[data-type=global] tr:nth-child(5),
#socks[data-type=global] tr:nth-child(5) input,
#socks[data-type=global] tr:nth-child(6),
#socks[data-type=global] tr:nth-child(6) input {
  color: #aaa;
  pointer-events: none;
}

#socks input[name=profile]:checked + span {
  font-weight: bold;
}
body[data-type="3"] #socks input[name=profile]:checked + span {
  color: #000;
}
body[data-type="0"] #no-settings-tab,
body[data-type="1"] #no-settings-tab,
body[data-type="2"] #no-settings-tab,
body[data-type="3"] #socks,
body[data-type="4"] #automatic-tab {
  display: flex;
}

#links {
  height: 50px;
  line-height: 50px;
  background-color: #424f5a;
  color: #fff;
  padding: 0 10px;
}
a {
  text-decoration: none;
}
#links a {
  color: #fff;
}
